# Gateway
NODE_ENV=development
PORT=3000
SERVICE_NAME=gateway
LOG_LEVEL=info

# Upstream services
AUTH_SERVICE_URL=http://localhost:3001
OPS_SERVICE_URL=http://localhost:3002

# CORS / Security
CORS_ORIGIN=http://localhost:3005
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
PUBLIC_RATE_LIMIT_MAX=30

# Docs
SWAGGER_AUTH_SPEC_URL=http://localhost:3001/api-docs.json
SWAGGER_OPS_SPEC_URL=http://localhost:3002/api-docs.json
